<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://storage.yandexcloud.net/fd-dev/findelivery.ipa?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=izw1GsJKMxfDw6bKZA1h%2F20250303%2Fru-central1%2Fs3%2Faws4_request&X-Amz-Date=20250303T070715Z&X-Amz-Expires=2592000&X-Amz-Signature=C52F92DF78BD96CC06E2FC969C950443D930F91C9F13DCF3106C41237C77CDED&X-Amz-SignedHeaders=host</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>ru.findostavka</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Findostavka</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
